*{
  padding: 0px;
  margin: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html{
  box-sizing: border-box;
}
body{
  background: #0b0b0d;
  min-height: 100%;
}
header{
  text-align: center;
  background-color: #20c1bd;
  color: black;
}
footer{
  padding: 20px;
  margin: 10px 10%;
  background: #070709;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80%;
}
footer .links{
  float: left;
}
.links a{
  color: gray;
  text-decoration: none;
  margin-right: 0.5em;
}
.derechos{
  color:gray;
  float: right;
}
a.logo{
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-family: monospace;
}
header ul li{
  display: inline-block;
}
.nav a{
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 3px;
}
img.show{
  width:80%;
  border-radius: 10px;
}
.small-block{
  background: #EEE;
  margin: 10px 10%;
  padding: 5px;
  text-align: center;
  border-radius: 30px;;
}
.small-block p{
  font-family: sans-serif;
  margin: 10px 30px;
  font-size: 18px;
}
.sub-titulo{
  font-size: 40px;
  font-family: monospace;
}
.sub-sub-titulo{
  font-size: 30px;
  font-family: monospace;
}
.ver{
  width: 80%;
  font-size: 30px;
  color: #2470a0;
  margin-top: 5px;
  border: 2px solid #2470a0;
  border-radius: 10px;
}
.btn-submit{
  margin: 10px 0px;
  font-size: 30px;
  padding: 5px;
  border: 2px solid black;
  background: rgba(0,0,0,0);
  border-radius: 10px;
  transition: 0.1s;
}
.btn-submit:hover{
  margin: 5px 0px;
  font-size: 40px;
}
.group-form input{
  font-size: 30px;
}
.group-form textarea{
  font-size: 20px;
}
.contenido{
  margin-bottom: 80px;
}
.datos-tabla{
  text-align: center;
  border: black 1px solid;
  padding:2px;
  width:100%;
}
.datos-tabla tr td{
  border: black 2px solid;
  padding: 2px;
}
.datos-tabla thead th{
  border: black 2px solid;
  padding: 2px;
}
.align-center{
  text-align: center;
}
ul#lista{
  list-style: circle;
}
.banner img{
  width:100%;
}
.title-block h1{
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.title-block{
  padding: 30px 0px;
}
.galeria img{
  width: 49%;
  border-radius: 20px;
}

@media (min-width:320px)  {
  .small-block{
    margin: 8px 5%;
  }
}
@media (min-width:480px)  {
  .small-block{
    margin: 10px 10%;
  }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  {
  .small-block{
    margin: 10px 20%;
  }
}
@media (min-width:1025px) {
  .small-block{
    margin: 10px 30%;
  }
  .banner{
    margin: 100px 30%;
  }
}
@media (min-width:1281px) {

}
